@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

header{
    padding: 1px 8%;
    background-color: #C4C1D9;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c; /* MUDAR COR DE A CORDO COM O TEMA */
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

body{
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    background-color: #201b2c;
}

body * {
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 80vh;
    background: rgb(151, 151, 196); /* MUDAR COR DE ACORDO COM O TEMA !!! */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    font-size: 2vw;
    color: #77ffc0; /* MUDAR COR DE ACORDO COM O TEMA !!! */
}

.left-login span{
    color: #982835; /* MUDAR COR DE ACORDO COM O TEMA !!! */
}

.left-login-image{
    border-radius: 25px;
}

.left-login img{
    height: 80vh;
    width: 50vh;
}

.right-login{
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841; /* MUDAR COR DE ACORDO COM O TEMA !!! */
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056; /* MUDAR COR DE ACORDO COM O TEMA !!! */
}

.card-login > h1{
    color: #00ff88; /* MUDAR COR DE ACORDO COM O TEMA !!! */
    font-weight: 800;
    margin: 0;
}

.card-login a {
    color: rgb(0, 191, 255);
    font-size: 15px;
    text-decoration: none;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869; /* MUDAR COR DE ACORDO COM O TEMA !!! */
    color: #f0ffffde; /* MUDAR COR DE ACORDO COM O TEMA !!! */
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056; /* MUDAR COR DE ACORDO COM O TEMA !!! */
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde; /* MUDAR COR DE ACORDO COM O TEMA !!! */
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94 /* MUDAR COR DE ACORDO COM O TEMA !!! */
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b; /* MUDAR COR DE ACORDO COM O TEMA !!! */
    background: #00ff88 ; /* MUDAR COR DE ACORDO COM O TEMA !!! */
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052; /* MUDAR COR DE ACORDO COM O TEMA !!! */
}

@media only screen and (max-width: 950px){
 .card-login{
    width: 85%;
 }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    header{
        align-items: right;
    }
    .left-login > h1{
        display: none;
    }

    .left-login > img{
        display: none;
        width: 100%;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vh;
    }

    .card-login{
        width: 90%;
    }
}